:root {
  height: 100%;
  background: linear-gradient(180deg, white 50%, #ff676c 50%);
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
}
#root,
#selected {
  font-family: "Playfair Display", serif;
  list-style-type: none;
}
#selected > article {
  display: inline-block;
}
.list-item {
  display: inline-block;
}
.actor-wrapper {
  text-align: center;
  border: 3px solid #eaeaea90;
  margin: 5px;
  box-shadow: 5px 10px 5px rgba(70, 70, 70, 0.404);
  background-color: white;
}
.avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  min-height: 160px;
  margin: 8px;
  border: 4px double #ff676c;
  border-radius: 50%;
  position: relative;
}
.avatar {
  width: 180px;
  height: 160px;
  margin: 8px;
  border: 4px double #ff676c;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}
.inits {
  font-size: 48px;
  position: absolute;
}
.soc-logo {
  width: 24px;
}